.swimming-fish {
        animation: swim 3s linear infinite;
        left: 8rem;
        position: absolute;
      }

      .swimming-fish-bub {
        animation: bubble 3s linear infinite;
        position: absolute;
        visibility: hidden;
        left: 8.5rem;
      }

      .swimming-fish-bub:nth-child(2) {
        left: 8.0rem;
        animation-delay: -.25s;
      }

      @keyframes swim {
        0%{
          transform: rotate(-10deg) translateY(0px);
        }
        25%{
          transform: translateY(-1rem);
        }
        50%{
          transform: rotate(10deg) translateY(0px);
        }
        75%{
          transform: translateY(1rem);
        }
        100%{
          transform: rotate(-10deg) translateY(0px);
        }
      }

      @keyframes bubble {
        0%{
          visibility: hidden;
          transform: scale(0.01) translateY(0px);
        }
        25%{
          visibility: visible;
          transform: scale(0.01) translateY(-1rem);
        }
        50%{
          visibility: visible;
          transform: scale(0.2) translateY(0rem);
        }
        75%{
          visibility: visible;
          transform: scale(0.5) translateY(-0.75rem);
        }
        100%{
          visibility: hidden;
          transform: scale(1) translateY(-1.5rem);
        }
      }
